<app-navbartwo></app-navbartwo>   

<!-- CAROUSEL CONTROL PAGE -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
<!-- A -->
      <div class="carousel-item active bg-info ">   
        <button class="btn btn-success" (click)="getStarted()">Get Started</button>     
        <div class="container d-flex">
              <div class="col-2 bg-success">
                <img src="/assets/images/population3.png" class="d-block w-100" alt="Population">                
              </div>
              
              <div>
                  <img src="/assets/images/population2.png" class="d-block w-100" height="500px" alt="Population">
              </div>   
              <div class="col-2 bg-success">
                <img src="/assets/images/population3.png" class="d-block w-100" alt="Population">
              </div>              
        </div>
        
      </div>
     
<!-- B -->
      <div class="carousel-item bg-primary">
        <button class="btn btn-success" (click)="getStarted()">Get Started</button>
        <div class="container d-flex">
              <div class="col-2 ">
                <img src="/assets/images/population1.png" class="d-block w-100" alt="Population">                
              </div>
              
              <div>
                  <img src="/assets/images/capture1.PNG" class="d-block w-100" height="500px" alt="Population">
              </div> 

              <div class="col-2 ">
                <img src="/assets/images/population1.png" class="d-block w-100" alt="Population">
              </div> 
        </div>
      </div>

<!-- C -->
      <div class="carousel-item bg-warning">        
        <button class="btn btn-success" (click)="getStarted()">Get Started</button>
        <div class="container d-flex">
            <div class="col-2" id="navtwo">
              <img src="/assets/images/population3.png" class="d-block w-100" alt="Population">                
            </div>
            
            <div>
                <img src="/assets/images/capture2.PNG" class="d-block w-100" height="500px" alt="Population">
            </div> 

            <div class="col-2" id="navtwo">
              <img src="/assets/images/population3.png" class="d-block w-100" alt="Population">
            </div> 
      </div>
      </div>
    </div>
</div>


    

