<!-- NAVBAR TWO -->
<nav class="navbar" id="navtwo">
    <div class="container">
<!-- A -->
        <div class="btn-group">
            <span><a class="fw-bold text-decoration-none" id="dropchange" href="">Home</a></span>            
        </div>

<!-- B -->
        <div class="btn-group">
            <span class="fw-bold"  id="dropchange">About Us</span> 
            <span type="text" class=" dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                <span class="visually-hidden">Toggle Dropdown</span>
            </span>
            <ul class="dropdown-menu">                
                <li><a class="dropdown-item"  id="list" href="http://localhost:4200/popmap">Action</a></li>
                <!-- <li><a class="dropdown-item"  id="list" href="#"></a></li>
                <li><a class="dropdown-item"  id="list" href="#"></a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item"  id="list" href="#"></a></li> -->
            </ul>
        </div>

<!--C -->
        <div class="btn-group">
            <span class="fw-bold"  id="dropchange">Focus</span> 
            <span type="text" class=" dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
                <span class="visually-hidden">Toggle Dropdown</span>
            </span>
            <ul class="dropdown-menu" >
                <li ><a class="dropdown-item"  id="list" href="#"></a></li>
                <!-- <li><a class="dropdown-item"  id="list" href="#">Another</a></li>
                <li><a class="dropdown-item"  id="list" href="#">Something</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item"  id="list" href="#">Separated</a></li> -->
            </ul>
        </div>


<!--D -->

<div class="btn-group">
    <span class="fw-bold"  id="dropchange">Activities</span> 
    <span type="text" class=" dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
        <span class="visually-hidden">Toggle Dropdown</span>
    </span>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item"  id="list" href="#"></a></li>
        <!-- <li><a class="dropdown-item"  id="list" href="#">Another</a></li>
        <li><a class="dropdown-item"  id="list" href="#">Something</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item"  id="list" href="#">Separated</a></li> -->
    </ul>
</div>


<!-- E -->

<div class="btn-group">
    <span class="fw-bold"  id="dropchange">News</span> 
    <span type="text" class=" dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
        <span class="visually-hidden">Toggle Dropdown</span>
    </span>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item"  id="list" href="#"></a></li>
        <!-- <li><a class="dropdown-item"  id="list" href="#">Another</a></li>
        <li><a class="dropdown-item"  id="list" href="#">Something</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item"  id="list" href="#">Separated</a></li> -->
    </ul>
</div>

<!-- F  -->

<div class="btn-group">
    <span class="fw-bold"  id="dropchange">Publication</span> 
    <span type="text" class=" dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
        <span class="visually-hidden">Toggle Dropdown</span>
    </span>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item"  id="list" href="#"></a></li>
        <!-- <li><a class="dropdown-item"  id="list" href="#">Another</a></li>
        <li><a class="dropdown-item"  id="list" href="#">Something</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item"  id="list" href="#">Separated</a></li> -->
    </ul>
</div>

<!-- G  -->

<div class="btn-group">
    <span class="fw-bold"  id="dropchange">Services</span> 
    <span type="text" class=" dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
        <span class="visually-hidden">Toggle Dropdown</span>
    </span>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item"  id="list" href="#"></a></li>
        <!-- <li><a class="dropdown-item"  id="list" href="#">Another</a></li>
        <li><a class="dropdown-item"  id="list" href="#">Something</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item"  id="list" href="#">Separated</a></li> -->
    </ul>
</div>

<!-- H  -->

<div class="btn-group">
    <span class="fw-bold"  id="dropchange">Contact Us</span> 
    <span type="text" class=" dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
        <span class="visually-hidden">Toggle Dropdown</span>
    </span>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item"  id="list" href="#"></a></li>
        <!-- <li><a class="dropdown-item"  id="list" href="#">Another</a></li>
        <li><a class="dropdown-item"  id="list" href="#">Something</a></li>
        <li>
            <hr class="dropdown-divider">
        </li>
        <li><a class="dropdown-item"  id="list" href="#">Separated</a></li> -->
    </ul>
</div>

<!--   -->

</div>
</nav>