<app-navbartwo></app-navbartwo>

<h4 class="text-center">Kindly search any State of choice</h4>
<input type="text" placeholder="Search State Population" class="form-control my-3 shadow w-50 mx-auto border-danger"
    [(ngModel)]="searchPopulation">

    <table class="table">
   
<div class="container">
    <div class="row">
        <div *ngFor="let i = index; let user of allUsers | filterContact:searchPopulation"
            (click)="router.navigate(['population'])">

            <div class="col- mt-3 mb-5 mx-auto ps-2 shadow ">
                <h1 class="text-dark text-center">{{user.Country}}, {{user.State}}</h1>
            </div>

            
                <div><h1 class="text-success">State: <span class="text-dark">{{user.State}}</span> </h1></div>                
                <div><h2 class="text-warning">Capital: <span class="text-dark">{{user.Capital}}</span></h2></div>                
           

                <h2 class="text-primary">Rank: <span class="text-dark">{{user.Rank_Id}}</span></h2>
                <h2 class="text-danger">Area (km): <span class="text-dark">{{user.Area_km}}</span></h2>
                <h2 class="text-success">Year 1991 Population: <span class="text-dark">{{user.Population_1991}}</span> </h2>
                <h2 class="text-danger">Year 2016 Population : <span class="text-dark">{{user.Population_2016}}</span></h2>
                <h2 class="text-primary">Year 2019 Population : <span class="text-dark">{{user.Population_2019}}</span></h2>            
        </div>
    </div>
</div>