<app-navbartwo></app-navbartwo>   

<div class="container d-flex">
 <div class="col-4 ">
    <img src="/assets/images/population3.png" class="d-block w-100" alt="Population">    
 </div>
 

 <div id="map">    
    <button class=" mt-5 text-white  btn btn-success"><h1 class=" mt- text-white bg-dark" (click)="getStarted()">Check State Population</h1></button>
    <button class=" w-100 bg-success"></button>    
</div> 


<div>
<a class= " text-decoration-none " href="https://www.google.com/maps" target="_blank" rel="noopener">
<button class="btn btn-dark" >Search MAP</button> 
</a>
</div>


 <div class="col-4">
    <img src="/assets/images/population3.png" class="d-block w-100" alt="Population">
</div>
</div>
<h2 class="text-primary ms-5">The most </h2>
<h2 class="text-success  ms-5">accurate population </h2>
<h2 class="text-danger ms-5" id="navtwo">count control ...</h2>
<div>
   <a class= " text-decoration-none " href="https://www.google.com/maps" target="_blank" rel="noopener">
   <button class="btn btn-dark" >Search MAP</button> 
   </a>
   </div>

<marquee behavior="" direction=""><div class="text-primary">The most </div> <div class="text-success">accurate population</div> <div class="text-danger">count control ...</div></marquee>


